.largeContainer {
    width: 70%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .title {
        font-size: 22px;
        width: 100%;
    }

    table {
        width: 100%;
        padding: 0 16px;

        th {
            font-weight: 700;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            td {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            td:nth-child(1) {
                width: 40%;
            }

            td:nth-child(2),
            td:nth-child(3),
            td:nth-child(4) {
                width: 20%;
            }
        }



        tr {
            padding-top: 32px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            td {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            td:nth-child(1) {
                gap: 16px;
                width: 40%;

                .avatar {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid #6F6F6F;
                }

                .name {
                    font-weight: 700;
                }
            }

            td:nth-child(2),
            td:nth-child(3) {
                color: #6F6F6F;
                width: 20%;
            }

            td:nth-child(4) {
                width: 20%;

                .status {
                    width: 68px;
                    padding: 6px 8px;
                    border-radius: 1em;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .approved {
                    background-color: #c9ffe7;
                    color: #00ac59ba;
                }

                .rejected {
                    background-color: #f2d0d0;
                    color: #f04343;
                }

                .pending {
                    background-color: #cadaff;
                    color: #1749ae;
                }
            }
        }
    }
}