.announcementContainer {
    background-color: #0C8E80;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}